.social {
  margin-top: 4rem;
  line-height: 1.5rem;

  & hr {
    margin-bottom: 2rem;
    margin-left: 4rem;
    width: 1.5rem;
    height: 3px;
  }

  & a {
    font-size: 0.9rem;
    color: #869cc6;
    font-weight: 400;
    padding-left: 4rem;
    margin-bottom: 0.5rem;
  }

  & img {
    margin-right: 10px;
    position: relative;
    top: 2px;
  }
}
