.container {
  min-height: 100vh;
  max-width: 600px;

  & p {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  & h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 2rem;
    max-width: 500px;
    margin-top: 1rem;
  }
}
