@import '../../styles/mixins/breakpoints.scss';

.container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fill, 170px);
  margin: 0 2rem;

  @include mobile {
    display: block;
    width: 100%;
  }
}
