@import '../../styles/mixins/breakpoints.scss';

.articles {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fill, 300px);

  & p {
    line-height: 1.5rem;
    margin-top: 1rem;
  }

  @include mobile {
    display: block;

    & a {
      display: block;
      margin-bottom: 3rem;
    }
  }
}

.cover {
  border-radius: 5px;
}
