.spinner {
  animation: spinner-animation 900ms linear infinite;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.circle {
  stroke: #E8F1F7;
  stroke-opacity: 0.25;
  stroke-width: 6;
}

.segment {
  stroke: #ffffff;
  stroke-width: 6;
}

@keyframes spinner-animation {
  100% {
    transform: rotate(360deg);
  }
}

.white {
  & .circle {
    stroke: #ffffff;
  }

  & .segment {
    stroke: #ffffff;
  }
}

.small {
  height: 15px;
  width: 15px;
}

.medium {
  height: 30px;
  width: 30px;
}

.large {
  height: 60px;
  width: 60px;
}
