.container {
  display: grid;
  grid-template-areas: '. .';
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  min-height: 100vh;
}

.content {
  padding: 4.5rem 3rem;
  padding-bottom: 1rem;
}

.credits {
  padding-bottom: 1rem;
  padding-top: 4rem;
}
