.podcast {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: 1fr;
  grid-template-areas: '. .';

  & .image {
    border-radius: 5px;
    width: 66px;
    height: auto;
  }

  & h3 {
    font-weight: 600;
    margin: 0;
  }

  & h4 {
    margin-top: 0.5rem;
    font-weight: 300;
    font-size: 1rem;
    opacity: 0.5;
  }

  & p {
    line-height: 1rem;
    font-weight: 300;
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
}
