@import '../../styles/breakpoints.css';

.description {
  margin-bottom: 0 !important;

  @media (--mobile) {
    margin-bottom: 1rem !important;
  }
}

.subscribe {
  & button {
    margin-left: 1rem;

    @media (--mobile) {
      margin-left: 0;
      margin-top: 1rem;
    }
  }

  & input {
    @media (--mobile) {
      width: 100%;
    }
  }
}
