.links {
  & a {
    color: var(--color-grey50);
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0.5rem;
    padding: 0.5rem;
    padding-left: 4rem;
    position: relative;

    &.active {
      color: var(--color-grey10);
    }
  }
}
