.container {
  width: 300px;
}

.image {
  border-radius: 5px;
}

.title {
  font-size: 1.25rem;
  line-height: 1.7rem;
  margin-bottom: 1rem;
}

.teaser {
  color: var(--color-grey90);
  font-size: 0.95rem;
  line-height: 1.5rem;
  padding: 0;
}
