:root {
  --color-black: rgba(12, 17, 26, 1);
  --color-green10: rgba(230, 251, 244, 1);
  --color-green30: rgba(179, 241, 222, 1);
  --color-green50: rgba(127, 230, 198, 1);
  --color-green70: rgba(77, 222, 176, 1);
  --color-green90: rgba(26, 212, 154, 1);
  --color-green: rgba(0, 207, 142, 1);
  --color-grey10: rgba(242, 244, 246, 1);
  --color-grey30: rgba(216, 220, 226, 1);
  --color-grey50: rgba(188, 195, 205, 1);
  --color-grey70: rgba(162, 172, 186, 1);
  --color-grey90: rgba(136, 148, 166, 1);
  --color-grey: rgba(122, 136, 156, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-yellow10: rgba(255, 255, 245, 1);
  --color-yellow30: rgba(255, 253, 223, 1);
  --color-yellow50: rgba(255, 251, 200, 1);
  --color-yellow70: rgba(255, 251, 179, 1);
  --color-yellow90: rgba(255, 249, 157, 1);
  --color-yellow: rgba(255, 248, 146, 1);
}
