h1,
h2,
h3,
h4,
h5 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 0;
}

h1,
h2 {
}

h1 {
  font-size: 30px;
  line-height: 35px;
  max-width: 300px;

  & + p {
    margin-top: 0;
  }
}

h2 {
  font-size: 2rem;
  line-height: 2.25rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.2rem;
  margin-top: 2rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}
