p,
li,
ul {
  color: var(--color-grey);
  font-size: 1.2rem;
  line-height: 1.75rem;

  &::-moz-selection {
    background: var(--color-grey);
    color: var(--color-white);
  }

  &::selection {
    background: var(--color-grey);
    color: var(--color-white);
  }
}

strong {
  font-weight: 600;
}
