.container {
  margin-top: 6rem;
}

.company {
  font-weight: 300;
  font-size: 0.8rem;
  margin-left: 4rem;
  line-height: 1rem;
  color: #999999;

  & img {
    height: 30px;
    width: auto;
    margin-bottom: 10px;
  }
}
