@import '../../styles/breakpoints.css';

.articles {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fill, 300px);

  @media (--mobile) {
    display: block;

    & a {
      display: block;
      margin-bottom: 3rem;
    }
  }
}
