.home {
  padding: 4rem;
  padding-bottom: 1.5rem;

  & img {
    width: 70px;
    height: auto;
  }
}

.sidebar {
  color: #999999;

  & a {
    display: block;
    text-decoration: none;
    text-shadow: none;

    &:hover {
      box-shadow: none;
      color: #ffffff;
    }
  }
}
