@import '../../styles/breakpoints.css';

.books {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fill, 170px);

  @media (--mobile) {
    display: block;
    width: 100%;
  }
}
