@import '../../../styles/mixins/breakpoints.scss';

.container {
  color: #7d95bd;
  font-size: 0.9rem;
  margin-left: 3rem;
  margin-top: 1rem;
  text-align: left;

  @include mobile {
    margin-left: 0;
  }

  & a {
    text-decoration: underline;
  }
}
