.button {
  background: green;
  border-radius: 20px;
  color: white;
  display: inline-block;
  margin-top: 2rem;
  padding: 0.75rem 1.25rem;
  transition: 0.25s ease;

  & img {
    margin-left: 0.75rem;
  }
}
