.button {
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  color: white;
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem 1.25rem;
  transition: 0.25s ease;

  & img {
    margin-left: 0.75rem;
    opacity: 0.3;
    transition: 0.25s ease;
  }

  &:hover {
    border: 2px solid rgba(255, 255, 255, 1);
    & img {
      opacity: 1;
    }
  }
}
