@import '../../styles/mixins/breakpoints.scss';

.link {
  @include mobile {
    display: grid;
    grid-gap: 25px;
    grid-template-areas: '. .';
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 2rem;

    & h3 {
      margin-top: 0;
    }
  }
}

.book {
  & img {
    border-radius: 5px;
    width: 100%;
    height: auto;
  }

  & h3 {
    font-weight: 600;
  }

  & h4 {
    margin-top: 0.75rem;
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.2rem;
    opacity: 0.75;
  }

  & p {
    line-height: 1rem;
    font-weight: 300;
    font-size: 0.8rem;
  }
}
