h1,
h2,
h3,
h4,
h5 {
  font-weight: 200;
  color: #ffffff;
  margin-bottom: 0;
}

h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 2rem;
  max-width: 300px;
}

h2 {
  font-size: 1.3rem;
  line-height: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}
